<%- include("partials/header") -%>
    <main>
        <article>
            <div class="inner">
                <img src="/images/<%= image %>" alt="image">
                <h1><%=title%></h1>
                <p><%=content%></p>
            </div>
        </article>
    </main>
    

<%- include("partials/footer") -%>