<%- include("partials/header") -%>
    <main>
        <article style="box-shadow: none;">
            <div class="inner">
                <img src="/images/<%= image %>" alt="image" />
                <h1><%=title%></h1>
                <p><%=content%></p>
            </div>
            <!-- <div class="rating">
                <form action="/rating/like" method="post">
                    <button>
                     <img id="like" src="/images/thumbs-up-regular.svg" alt="thumbs-up" />
                    </button>
                </form>
                <form action="/rating/dislike" method="post">
                    <button>
                         <img id="dislike" src="/images/thumbs-down-regular.svg" alt="thumbs-down" />
                    </button>
                </form>
            </div> -->
        </article>
    </main>
    

<%- include("partials/footer") -%>